.images {
    /*display: grid;*/
    /*grid-template-rows: auto auto;*/
    height: 300px;
}

.imagesItemsColumn {
    display: flex;
    padding: 8px;
}

.imageItem {
    width: 100px;
    margin: 15px;
    border-radius: 5px;
}

.container {

}