.images {
    /*display: grid;*/
    /*grid-template-rows: auto auto;*/
    height: 500px;
}

.imagesItemsColumn {
    display: flex;
}

.imageItem {
    width: 100px;
    margin: 15px;
}

.container {

}