.images {
    /*display: grid;*/
    /*grid-template-rows: auto auto;*/
    height: 300px;
}

.imagesItemsColumn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px;

}

.imageItem {
    width: 100px;
    margin: 15px;
    border-radius: 5px;
    border: none;
}

.container {
    height: 300px;
}


